body{
  background-color: #fff;
  a{
  }
  a:hover{
    color: red;
    text-decoration: none;
  }
}
#navbar{
  border: 1px solid black;
  #logout{
    font-size: 25px;
  }
  #profil{
    width: 50px;
    border-radius: 50%;
  }
}
#index-main-container{
  background-color: white;
  border-radius: 50px 0px 50px 0px;
  h1{
    text-align: center;
    padding: 50px;
  }
  p{
    padding: 20px;
  }
}
#cutedog{
  border-radius: 1000px;
}

footer{
  ul{
    list-style: none;
  }
  li{
    float: left;
    display: inline-block;
  }
  p{
    opacity: 0.5;
    font-size: 11px;

  }
}
