body {
  font-family: Hind; }

.oB {
  border: 1px solid orange; }

nav {
  background-color: transparent;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3); }
  nav ul {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 65px;
    overflow: hidden; }
    nav ul li {
      display: inline-block;
      margin-top: 20px;
      float: left;
      border-right: 1px solid black; }
    nav ul li:last-child {
      border: none; }
    nav ul a:hover {
      color: #d6003d;
      transform: scale(1.2); }
    nav ul a {
      display: block;
      text-align: center;
      text-decoration: none !important;
      color: #d6003d;
      font-size: 20px; }

#mainContainer {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3); }
  #mainContainer #leftContainer #nom h1 {
    font-size: 30px;
    padding: 20px; }
  #mainContainer #leftContainer #titre h1 {
    color: #d6003d;
    font-size: 40px;
    padding: 20px; }
  #mainContainer #leftContainer #intro {
    padding: 20px; }
  #mainContainer #rightContainer {
    background-color: #2e2e2e; }

#JeuContainer {
  display: none; }

/*************************** CONNECTION MODAL *********************************/
#connectionModal #connection {
  margin-left: 63%;
  margin-top: 20px; }
#connectionModal label {
  display: block;
  width: 150px;
  float: left; }

/*************************** PUPUCE *******************************************/
#navbar {
  border: 1px solid black; }
  #navbar #logout {
    font-size: 25px; }
  #navbar #profil {
    width: 50px;
    border-radius: 50%; }

#index-main-container {
  background-color: white;
  border-radius: 50px 0px 50px 0px; }
  #index-main-container h1 {
    text-align: center;
    padding: 50px; }
  #index-main-container p {
    padding: 20px; }

#cutedog {
  border-radius: 1000px; }

footer ul {
  list-style: none; }
footer li {
  float: left;
  display: inline-block; }
footer p {
  opacity: 0.5;
  font-size: 11px; }

/*# sourceMappingURL=index.css.map */
