/*//////////////////////////////P E R S O N N A G E///////////////////////////*/
#game {
  min-width: 600px;
  /*////////////////////////////////////////////////////////////////////////////*/
  /*//////////////////////E N N E M I///////////////////////////////////////////*/
  /*//////////////////// J O U R N A L   D E   C O M B A T /////////////////////*/
  /*////////////////////////////////////////////////////////////////////////////*/
  /*////////////////////////////////INTERFACE///////////////////////////////////*/
  /* ------ T O O L T I P -------*/ }
  #game #characterContainer img {
    position: absolute;
    width: 100%; }
  #game #hp {
    height: 100%;
    width: 100%;
    min-width: 200px;
    background-color: green;
    color: white;
    font-family: impact;
    font-size: 1.5em;
    text-align: center; }
  #game #mana {
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 200px;
    background-color: blue;
    color: white;
    font-family: impact;
    font-size: 1.5em; }
  #game #atb {
    width: 0%;
    height: 100%;
    font-family: impact;
    font-size: 1.5em; }
  #game .progress {
    width: 100%;
    min-width: 150px;
    height: 30px;
    background-color: rgba(15, 66, 169, 0.7); }
  #game #ennemi img {
    width: 100%;
    margin-top: 20px; }
  #game #ennemi-pv {
    height: 30px;
    width: 100%;
    background-color: green;
    color: white;
    font-family: impact;
    font-size: 1.5em; }
  #game #scan-display {
    display: none; }
  #game .progress-bar {
    width: 100%;
    height: 30px;
    background-color: rgba(15, 66, 169, 0.7); }
  #game #atb-ennemi {
    width: 0%;
    height: 30px;
    background-color: purple; }
  #game #special-ennemi {
    width: 0%;
    height: 30px;
    background-color: red; }
  #game #alert {
    border: 1px solid white;
    color: white;
    background-color: rgba(15, 66, 169, 0.7);
    text-align: center;
    font-size: 2em;
    font-family: impact; }
  #game #damage-display {
    position: absolute;
    margin-left: 15%;
    font-size: 5em;
    font-family: impact;
    color: white;
    text-shadow: 2px 2px black; }
  #game #damage-skin {
    position: absolute;
    margin-left: 15%;
    width: 60%;
    height: 60%; }
  #game #income-skin img {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: -35px; }
  #game #damage-income {
    position: absolute;
    font-size: 5em;
    font-family: impact;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 2;
    transform: rotate(50deg); }
  #game #win {
    color: white;
    font-family: impact;
    text-shadow: 2px 2px white;
    display: none; }
  #game #win, #game #restart {
    position: absolute;
    margin-top: 550px;
    margin-left: 500px; }
  #game #choix-logs {
    position: absolute;
    font-family: impact;
    left: -3%;
    font-size: 0.8em;
    margin-top: 14px; }
  #game #logs {
    margin-top: 40px;
    font-family: impact;
    text-align: left;
    line-height: 15px;
    padding: 10px;
    background-color: rgba(15, 66, 169, 0.78);
    border-radius: 0px 5px 5px 5px;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden; }
  #game #choix-logs li {
    padding: 4px;
    background-color: rgba(15, 66, 169, 0.78);
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    list-style: none; }
  #game #entrants {
    line-height: 15px;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden; }
  #game #entrants p {
    line-height: 15px;
    color: white;
    text-shadow: 1px 1px black; }
  #game #sortants {
    display: block;
    height: 100%; }
  #game #sortants p {
    color: white;
    text-shadow: 1px 1px black; }
  #game #menu-action li {
    min-width: 100px;
    max-width: 150px;
    list-style: none;
    background-color: rgba(15, 66, 169, 0.7);
    font-family: impact;
    text-align: center;
    border: 1px solid white;
    color: white; }
  #game #menu-action li:hover {
    transform: scale(1.01);
    background-color: blue; }
  #game #spell-list {
    position: absolute;
    top: 0;
    left: 110px;
    display: none;
    width: 100px;
    margin-left: 1%; }
  #game #spell-list li {
    width: 100px;
    list-style: none;
    background-color: rgba(15, 66, 169, 0.7);
    font-family: impact;
    text-align: center;
    border: 1px solid white;
    color: white; }
  #game #spell-list li:hover {
    transform: scale(1.01);
    background-color: blue; }
  #game .tooltips {
    position: relative;
    display: inline-block; }
  #game .tooltips .tooltiptext {
    font-size: 0.5em;
    visibility: hidden;
    width: 200px;
    background-color: rgba(15, 66, 169, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 140%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s; }
  #game .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1; }

/*////////////////////////////////////////////////////////////////////////////*/

/*# sourceMappingURL=jeu.css.map */
