body {
  background-color: #fff; }
  body a:hover {
    color: red;
    text-decoration: none; }

#navbar {
  border: 1px solid black; }
  #navbar #logout {
    font-size: 25px; }
  #navbar #profil {
    width: 50px;
    border-radius: 50%; }

#index-main-container {
  background-color: white;
  border-radius: 50px 0px 50px 0px; }
  #index-main-container h1 {
    text-align: center;
    padding: 50px; }
  #index-main-container p {
    padding: 20px; }

#cutedog {
  border-radius: 1000px; }

footer ul {
  list-style: none; }
footer li {
  float: left;
  display: inline-block; }
footer p {
  opacity: 0.5;
  font-size: 11px; }

/*# sourceMappingURL=style.css.map */
