/*//////////////////////////////P E R S O N N A G E///////////////////////////*/
#game{
  min-width: 600px;
  #characterContainer{
    img{
      position: absolute;
      width: 100%;
    }
  }
  #hp{
    height: 100%;
    width: 100%;
    min-width: 200px;
    background-color: green;
    color: white;
    font-family: impact;
    font-size: 1.5em;
    text-align: center;
  }
  #mana{
    text-align: center;
    width: 100%;
    height: 100%;
    min-width: 200px;
    background-color: blue;
    color: white;
    font-family: impact;
    font-size: 1.5em;
  }
  #atb{
    width: 0%;
    height: 100%;
    font-family: impact;
    font-size: 1.5em;
  }
  .progress{
    width: 100%;
    min-width: 150px;
    height: 30px;
    background-color: rgba(15, 66, 169, 0.7);
  }

  /*////////////////////////////////////////////////////////////////////////////*/

  /*//////////////////////E N N E M I///////////////////////////////////////////*/
  #ennemi{
  }
  #ennemi img{
    width:100%;
    margin-top: 20px;
  }
  #ennemi-pv{
    height: 30px;
    width: 100%;
    background-color: green;
    color: white;
    font-family: impact;
    font-size: 1.5em;
  }
  #scan-display{
    display: none;
  }
  .progress-bar{
    width: 100%;
    height: 30px;
    background-color: rgba(15, 66, 169, 0.7);
  }
  #atb-ennemi{
    width: 0%;
    height: 30px;
    background-color: purple;
  }
  #barre1{
  }
  #special-ennemi{
    width: 0%;
    height: 30px;
    background-color: red;
  }
  #barre2{
  }
  #alert{
    border: 1px solid white;
    color: white;
    background-color: rgba(15, 66, 169, 0.7);
    text-align: center;
    font-size: 2em;
    font-family: impact;
  }
  #damage-display{
    position: absolute;
    margin-left: 15%;
    font-size: 5em;
    font-family: impact;
    color: white;
    text-shadow: 2px 2px black;
  }
  #damage-skin {
    position: absolute;
    margin-left: 15%;
    width: 60%;
    height: 60%;
  }
  #income-skin img{
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: -35px;
  }
  #damage-income{
    position: absolute;
    font-size: 5em;
    font-family: impact;
    color: white;
    text-shadow: 2px 2px black;
    z-index: 2;
    transform: rotate(50deg);
  }
  #win{
    color: white;
    font-family: impact;
    text-shadow: 2px 2px white;
    display: none;
  }
  #win, #restart{
    position: absolute;
    margin-top: 550px;
    margin-left: 500px;
  }

  /*//////////////////// J O U R N A L   D E   C O M B A T /////////////////////*/
  #choix-logs{
    position: absolute;
    font-family: impact;
    left: -3%;
    font-size: 0.8em;
    margin-top: 14px;
  }
  #logs{
    margin-top: 40px;
    font-family: impact;
    text-align: left;
    line-height: 15px;
    padding: 10px;
    background-color: rgba(15, 66, 169, 0.78);
    border-radius: 0px 5px 5px 5px;
    height: 150px;
    overflow: scroll;
    overflow-x: hidden;
  }

  #choix-logs li{
    padding: 4px;
    background-color: rgba(15, 66, 169, 0.78);
    color: white;
    display: inline-block;
    border-bottom: 1px solid white;
    border-radius: 5px 5px 0px 0px;
    list-style: none;
  }
  #entrants{
    line-height: 15px;
    display: none;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  #entrants p{
    line-height: 15px;
    color: white;
    text-shadow: 1px 1px black;
  }
  #sortants{
    display: block;
    height: 100%;
  }
  #sortants p{
    color: white;
    text-shadow: 1px 1px black;
  }
  /*////////////////////////////////////////////////////////////////////////////*/



  /*////////////////////////////////INTERFACE///////////////////////////////////*/
  #menu-action{
    li{
      min-width: 100px;
      max-width: 150px;
      list-style: none;
      background-color: rgba(15, 66, 169, 0.7);
      font-family: impact;
      text-align: center;
      border: 1px solid white;
      color: white;
    }
    li:hover{
      transform: scale(1.01);
      background-color: blue;
    }
  }
  #spell-list{
    position: absolute;
    top: 0;
    left: 110px;
    display: none;
    width: 100px;
    margin-left: 1%;

  }
  #spell-list li{
    width: 100px;
    list-style: none;
    background-color: rgba(15, 66, 169, 0.7);
    font-family: impact;
    text-align: center;
    border: 1px solid white;
    color: white;
  }
  #spell-list li:hover{
    transform: scale(1.01);
    background-color: blue;
  }

  /* ------ T O O L T I P -------*/


  .tooltips {
    position: relative;
    display: inline-block;
  }
  .tooltips .tooltiptext {
    font-size: 0.5em;
    visibility: hidden;
    width: 200px;
    background-color: rgba(15, 66, 169, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 0%;
    left: 140%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .tooltips:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}
/*////////////////////////////////////////////////////////////////////////////*/
